.single-product-card {
    background-color: var(--light-color-theme);
    border: none !important;
    box-shadow: -3px 3px 8px var(--secondary-color-theme);
}

.single-product-card:hover {
    box-shadow: -8px 9px 10px var(--secondary-color-theme);
}

@media (max-width: 768px) {
    .h5 {
        font-size: 1.1em !important;
    }

    .card-text {
        font-size: 1em !important;
    }
}