.featured-products-card{
    background-color: var(--light-color-theme);
    padding: 0px !important;
}

.featured-products-card:hover {
    margin-left: 0.2em !important;
}

.featured-view-btn {
    margin-left: 1em !important;
    padding: 4px 28px; 
    position: absolute;
    bottom: 15px;
}