.featured-products-card{
    background-color: var(--light-color-theme);
    padding: 0px !important;
    box-shadow: -3px 3px 8px var(--secondary-color-theme);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured-products-card:hover{
    box-shadow: -8px 9px 10px var(--secondary-color-theme);
}

.img-col {
    padding-left: 0px;
}

.img-col img {
    height: 30vh;
    width: 100%;
}

.featured-view-btn {
    margin-left: 1em !important;
    padding: 4px 28px; 
    position: absolute;
    bottom: 15px;   
}

@media (max-width: 790px) {
    .img-col{
        padding-right: 0px !important;
    }

    .featured-view-btn{
        position: relative;
        bottom: 0px;
        margin-left: 0px !important;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .info-col{
        text-align: center;
    }

    .img-col img {
        height: 25vh;
        
    }
}

@media (max-width: 765px){
    .featured-products-card{
        flex-direction: column;
        justify-content: space-between;
        width: 60% !important;
        
    }
    .img-col{
        padding-right: 0px !important;
    }
    .featured-products-card img {
        width: fit;
       
        padding-right: 0px;
    }

    .featured-view-btn{
        position: relative;
        bottom: 0px;
        margin-left: 0px !important;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .info-col{
        text-align: center;
    }

    .info-col h4{
        margin-top: 10px;
    }

}

@media (max-width: 420px){
    .featured-products-card{
        flex-direction: column;
        width: 90% !important;
        margin-bottom: 20px;
    }

    .featured-products-card img{
        height: 45vh;
    }

    .featured-view-btn {
        padding: 5px 45px; 
    }
}