:root{
    --primary-color-theme: #93C4B2;
    --secondary-color-theme: #7EA898;
    --light-color-theme: #9FD4C0;
    --info-color-theme: #AEE8D2;
    --warning-color-theme: #B8F5DD;
    /* --background-color: #e5f1ed; */
    --background-color: #d4f5ea;
}

body {
    background-color: var(--background-color)
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(199,250,234,1) 0%, rgba(101,255,205,1) 100%); */
}

.btn {
    border-radius: 0;
}

.btn-info {
    background-color: #39757f;
}

.btn-info:hover{
    background-color: #1690a5;
    border-color: #2793a7;
}



@import "./components//NavBar/style.css";

@import "./components/Admin/AdminNavbar/style.css";

@import "./components/SingleProduct/style.css";

@import "./components/Home/FeaturedProducts/style.css";

@import "./components/Home/Hero/style.css";

@import "./components/Header/style.css";

@import "./pages/Users/sign-in-up-style.css";

@import "./components/SingleProductInCart/style.css";

@import "./pages/Purchase/style.css";