:root{
    --primary-color-theme: #c4c4c4;
    --secondary-color-theme: #A8A8A8;
    --light-color-theme: #F5F5F5;
    --info-color-theme: #E8E8E8;
    --warinig-color-theme: #CFCFCF;

}

@import "./components//NavBar/style.css";

@import "./components/Admin/AdminNavbar/style.css";

