.prod-info-container{
    padding: 10px 0px;
    width: 50%;
    background-color: var(--light-color-theme);
    box-shadow: -5px 6px 5px var(--secondary-color-theme);
}
.prod-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prod-info-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prod-info img{
    height: 50vh;
    width: 20vw;
}

.prod-info-desc{
    list-style: square;
    margin-left: 50px;
    padding-bottom: 5px;
}

.prod-info-add-to-cart{
    margin-top: 30px auto;
    padding: 5px 30px;
}

@media (max-width: 768px) {
    .prod-info-container{
        width: 70%;
    }

    .prod-info img{
        height: 30vh;
        width: 30vw;
    }
}

@media (max-width: 420px){

    .prod-info-container{
        width: 90%;
    }

    .prod-info{
        
        flex-direction: column;
        justify-content: center;
    }

    .prod-info img{
        padding: 30px;
        height: 50vh;
        width: 100%;
    }

    .prod-info-desc{
        
        margin-left: 50px !important;
        padding-bottom: 5px;
    }

    .prod-info-display span{
        text-align: center !important;
    }
    
}